<h1> Create New Cat </h1>

<%= render "form", edit: false, cat: @cat %>

<!-- <form action="<%= cats_url %>" method='post'>

  <label for="cat name">Name</label>
  <input id="cat name" type="text" name="cat[name]" value="">
  <br>
  <label for="cat birth_date">Birthday</label>
  <input id="cat birth_date" type="date" name="cat[birth_date]" value="">
  <br>
  <label for="cat sex">Sex</label>
  <input id="cat sex" type="text" name="cat[sex]" value="">
  <br>
  <label for="cat color">Color</label>
  <input id="cat color" type="text" name="cat[color]" value="">
  <br>
  <label for="cat description">Description</label>
  <input id="cat description" type="text" name="cat[description]" value="">
  <br>
  <input type="submit" value="Create Cat">

</form> -->
